.about-container {
  text-align: center;
  color: #fff;
  padding: 20px;
}

ion-avatar {
  margin: 20px auto;
  width: 120px;
  height: 120px;
}


.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
