<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sobre Mim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="about-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Identificação do Aluno</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-avatar style="margin-bottom: 16px;">
          <img src="assets/eu2.jpeg" alt="Foto de perfil" />
        </ion-avatar>
        <ion-list>
          <ion-item>
            <ion-label><strong>Nome:</strong> Matheus Teixeira Pimentel</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Código da Turma:</strong> [PAS23103] (2025-2-PAS23103-CG-ADS0301N)</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Unidade:</strong> Unisuam - CG</ion-label>
          </ion-item>
          <ion-item>
            <ion-label><strong>Horário:</strong> Noite</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="footer-buttons">
      <ion-button expand="block" routerLink="/home"> Home </ion-button>
      <ion-button expand="block" routerLink="/about"> About </ion-button>
      <ion-button expand="block" routerLink="/jokes"> Jokers </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
