<ion-header>
  <ion-toolbar color="primary">
    <ion-title>JokeApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home-container">
    <h1>Bem-vindo ao <strong>JokeApp!</strong></h1>
    <p>
      Divirta-se com piadas aleatórias e conheça mais sobre o criador do
      projeto.
    </p>

    <ion-button expand="block" color="primary" routerLink="/jokes">
      Ver Piadas
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="footer-buttons">
      <ion-button expand="block" routerLink="/home"> Home </ion-button>
      <ion-button expand="block" routerLink="/about"> About </ion-button>
      <ion-button expand="block" routerLink="/jokes"> Jokers </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
